.headerMenu {

    display: flex;
    align-items: center;
    justify-content: space-around;
   //  background-color: rgba(52, 9, 170, 0.137) !important;
   // background-color: rgba(137, 43, 226, 0.253); aktuell
    height: 80px;
    border-bottom: 1px white dotted;
    box-shadow: 0 0 14px white;

 img {
    width: 60px;
    height: 60px;
   //  object-fit: cover;
   //  background-position: top;

 }

 nav {
    width: 530px;
    display: flex;
    justify-content: space-between;
 }

 a {
    text-decoration: none;
   //  margin-right: 40px;
   font-size: 18px;
   color: #541a8bc0;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .btn-hover {
   width: 200px;
   font-size: 12px;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   // margin: 20px;
   height: 30px;
   text-align:center;
   border: none;
   background-size: 300% 100%;

   border-radius: 3px;
   // moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   margin-left: 20px;
}

.btn-hover:hover {
   background-position: 100% 0;
   // moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}

.btn-hover:focus {
   outline: none;
}

.btn-hover.color-8 {
   background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
   box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

// below is the styling for the more information button
.btn {
   flex: 1 1 auto;
   margin-left: 14px;
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
  }

  .btn:hover {
   background-position: right center; /* change the direction of the change here */
 }

  .btn-2 {
   background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
 }

 
}