<header class="headerMenu">
    <a routerLink=""><img src="assets/img/mannequin.white.png"></a>

<nav class="horizontal">
    <a class="btn-hover color-8" routerLink="">Home</a>
    <a class="btn-hover color-8" href="#mySkills">My Skills</a>
    <a class="btn-hover color-8" href="#myProjects">Portfolio</a>
    <!-- class="btn btn-2" wie "more information button"  -->
    <a class="btn-hover color-8" href="#aboutMe">About</a>
    <a class="btn-hover color-8" href="#contactMe">Contact</a>
</nav>


</header>


