<div class="footerSection">
    <div>
        <a href="">
            Impressum
        </a>
        <span>|</span>
        <a href="">
            Datenschutz
        </a>
    </div>
    
    <div class="icon nextTo">
        <div class="space"><a target="_blank" href="https://www.github.com/wssds" href=""><i class="fab fa-github"></i></a></div>
        <div><a target="_blank" href="https://www.facebook.com/sean.gerigk"><i class="fab fa-facebook"></i></a></div>
    </div>

    <div class="icon marginRight">
        <i class="fas fa-copyright"></i>
        <span>copyright</span>
    </div>
</div>