<div class="footerSection">
    <div>
        <a routerLink="/impressum">
            Impressum
        </a>
        <span>|</span>
        <a routerLink="/datenschutz">
            Datenschutz
        </a>
    </div>
    
    <div class="icon nextTo">
        <div class="space"><a target="_blank" href="https://www.github.com/wssds"><i class="fab fa-github"></i></a></div>
        <div><a target="_blank" href="https://www.facebook.com/sean.gerigk"><i class="fab fa-facebook"></i></a></div>
    </div>

    <div class="icon marginRight">
        <span>copyright </span> 
        <i class="fas fa-copyright"></i>
        <span> 2022 Sean Gerigk</span> 
    </div>
</div>