<div>
  <h1 id="aboutMe" style="text-align: center; margin-top: 200px; margin-block-end: 0.83em !important;">About me</h1>

  <div class="aboutMeSection">
    <div class="imgPadding">
      <img src="assets\imgAboutme-secondprofilepic\top-hk.jpg">
    </div>

    <div class="textMe">
      <h3>"I`m a travel enthusiast and front end developer, who loves exploring different cultures, different local food
        and a local lifestyle. "</h3>
    </div>


  </div>

  <div class="column">
    <div class="columns6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
    <div class="columns6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae voluptate
      harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
    <div class="columns6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>


  </div>

  <div class="column">
    <div class="columns3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
    <div class="columns3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
    <div class="columns3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
  </div>

</div>