.aboutMeSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-left: 200px;
  margin-right: 200px;
  border-bottom: 3px solid rgb(12, 216, 216);
  
}

img {
  
  width: 375px;
  height: 375px;
  border-radius: 100%;
  object-fit: cover;
}

.imgPadding {
  padding-bottom: 70px;
}

.textMe {
  width: 300px;
  text-align: center;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.column {
  // height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.columns6 {
  // display: flex;
  // align-items: center;
  
  text-align: center;
  width: 300px;
  height: 300px;
  // border: 3px solid rgb(12, 216, 216);
  margin-top: 80px;
  padding: 15px;
  
  box-shadow: -15px 15px 50px 10px #47e6ff29;
 
}










@media(max-width: 1000px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 3px solid rgb(12, 216, 216);
    
    
  }
  
  img {
    // margin-top: 0;
    // margin-right: 0;
    width: 250px;
    height: 250px;
    
}
  
  .imgPadding {
    padding-bottom: 70px;
  }
  
  .textMe {
    width: 300px;
    text-align: center;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  .column {
    // height: 400px;
    display: flex;
    // justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  
  .columns6 {
    // display: flex;
    // align-items: center;
    
    text-align: center;
    // width: 280px;
    // height: 280px;
    // border: 3px solid rgb(12, 216, 216);
    margin-top: 30px;
    padding: 15px;
    // border-radius: 100%;
    // box-shadow: -15px 15px 50px 10px rgba(0, 0, 0, 0.774);
    box-shadow: -15px 15px 50px 10px #47e6ff29;
    // #47e6ff29
  }
  

}
