<div>
  <h1 id="aboutMe">About me</h1>

  <div class="aboutMeSection">
    <div class="imgPadding">
      <img src="assets\imgAboutme-secondprofilepic\top-hk.jpg">
    </div>

    <div class="textMe">
      <h3>"I`m a travel enthusiast and front end developer, who loves exploring different cultures, different local food
        and a local lifestyle. "</h3>
    </div>


  </div>

  <div class="column">
    <div class="columns6">
      <h3>My journey began</h3>
      <p>I grew up in Hamburg, Germany. During my childhood
        I already got in touch with computers. I was fascinated like all the kids at 
        that age with computers and games.</p>
      <p>
      </p>
    </div>
    <div class="columns6">
      <h3>I finally realized</h3>
      <p>During my studies at the university of Hamburg where I also finally
        graduated in "Economy and culture of China", I already got in touch with
        coding through a friend of mine. I started to ask myself if I chose the wrong major,
        as I wasn`t happy with my studies since the first week.</p>
    </div>
    <div class="columns6">
      <h3>I followed my dream</h3>
      <p>Instead of following my academic path I decided to follow my heart and
        learn front end development in a professional software development school.
        #Day by day I`m fascinated by the progress I make but still there is
        a lot more to come# .</p>
    </div>


  </div>
<!-- 
  <div class="column">
    <div class="columns3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
    <div class="columns3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
    <div class="columns3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis at beatae
      voluptate harum quasi, totam fugiat alias quas dolorum nisi nulla ipsam illum deserunt? Possimus animi quod nobis
      consectetur.</div>
  </div> -->

</div>