<div>

    <h1 id="myProjects" style="text-align: center; margin-top: 200px; margin-block-end: 0.83em !important;">My projects</h1>

    <div class="wrapper">
        <!-- <h1>Parallax Flipping Cards</h1> -->
        <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/bOhneKragen.jpg)">
                  <div class="inner">
                    <p>El pollo loco</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A 2D jump and run game with some angry enemies</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front">
                    <!-- <div class="front" style="url(https://unsplash.it/511/511/)"> -->
                  <div class="inner">
                    <p>Kochwelt</p>
                    <span>HTML / CSS / JS </span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A group project where we created a cooking website with some simple recipes</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                  <div class="inner">
                    <p>Kanbanboard / Kanban24</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A full working kanbanboard to optimize your projects which i made with 2 friends</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                  <div class="inner">
                    <p>Pokedex - API</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A pokedex which takes the data via an API</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/504/504/)">
                  <div class="inner">
                    <p>Rendann</p>
                    <span>Lorem ipsum</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front">
                    <!-- <div class="front" style="background-image: url(https://unsplash.it/505/505/)"> -->
                  <div class="inner">
                    <p>Reflupper</p>
                    <span>Lorem ipsum</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front">
                <!-- <div class="front" style="background-image: url(https://unsplash.it/506/506/)"> -->
                  <div class="inner">
                    <p>Acirassi</p>
                    <span>Lorem ipsum</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front">
                <!-- <div class="front" style="background-image: url(https://unsplash.it/508/508/)"> -->
                  <div class="inner">
                    <p>Sohanidd</p>
                    <span>Lorem ipsum</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
       
</div>