<div>

    <h1 id="myProjects" style="text-align: center; margin-top: 200px; margin-block-end: 0.83em !important;">My projects</h1>

    <div class="wrapper">
        <!-- <h1>Parallax Flipping Cards</h1> -->
        <div class="cols">

          
            <div onclick="window.open('http://sean-gerigk.developerakademie.net/m11-el.pollo.loco')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/el-pollo-loco.png)">
                  <div class="inner">
                    <p>El pollo loco</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A 2D jump and run game with some angry enemies
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          

            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Aktuell-Kochwelt')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/kochwelt.png)">
                  <div class="inner">
                    <p>Kochwelt</p>
                    <span>HTML / CSS / JS </span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A group project where we created a cooking website with some simple recipes
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/m11-el.pollo.loco')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                  <div class="inner">
                    <p>Kanbanboard / Kanban24</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A full working kanbanboard to optimize your projects which i made with 2 friends</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/m9-pokedex')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                  <div class="inner">
                    <p>Pokedex - API</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A pokedex which takes the data via an API
                    
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Sakura')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/sakura.png)">
                  <div class="inner">
                    <p>Sakura Ramen</p>
                    <span>HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p> quasi voluptatum tempora delectus voluptatem illo voluptas, sunt sicusandae ad nisi.</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/M7-quizz-app')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/quiz-app.png)">
                  <div class="inner">
                    <p>Quiz-App</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>itaque earum. Debitis nisi quas doloremque perferendis dignissimos, aliquid exercitationem. Sed ab iure in!</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Extra-Taschenrechner')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/calculator.png)">
                  <div class="inner">
                    <p>Calculator</p>
                    <span>JS / HTML</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Extra-Snake')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/snake.jpg)">
                  <div class="inner">
                    <p>Snake</p>
                    <span>JS / HTML</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
                  </div>
                </div>
              </div>
            </div>


          </div>
       </div>
       
</div>