<div>

    <h1 id="myProjects" class="c3">My projects</h1>

    <div class="wrapper">
        <!-- <h1>Parallax Flipping Cards</h1> -->
        <div class="cols">

          
            <div onclick="window.open('http://sean-gerigk.developerakademie.net/m11-el.pollo.loco')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/el-pollo-loco.png)">
                  <div class="inner">
                    <p>El pollo loco</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A 2D jump and run game with some angry enemies
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          

            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Aktuell-Kochwelt')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/kochwelt.png)">
                  <div class="inner">
                    <p>Kochwelt</p>
                    <span>HTML / CSS / JS </span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A well designed website with some simple recipes
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/m11-el.pollo.loco')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                  <div class="inner">
                    <p>Kanbanboard / Kanban24</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>This kanbanboard helps with organizing your tasks and work life</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/m9-pokedex')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/Pokedex.png)">
                  <div class="inner">
                    <p>Pokedex - API</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A pokedex for all pokemon fans
                    
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Sakura')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/sakura.png)">
                  <div class="inner">
                    <p>Sakura Ramen</p>
                    <span>HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A classy restaurant website</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/M7-quizz-app')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/quiz-app.png)">
                  <div class="inner">
                    <p>Quiz-App</p>
                    <span>JS / HTML / CSS</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>A simple quiz app</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Extra-Taschenrechner')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/calculator.png)">
                  <div class="inner">
                    <p>Calculator</p>
                    <span>JS / HTML</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>An aesthetically pleasing calculator</p>
                  </div>
                </div>
              </div>
            </div>


            <div onclick="window.open('http://sean-gerigk.developerakademie.net/Extra-Snake')" class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(assets/img/snake.jpg)">
                  <div class="inner">
                    <p>Snake</p>
                    <span>JS / HTML</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>The classic game</p>
                  </div>
                </div>
              </div>
            </div>


          </div>
       </div>
       
</div>