.marginToSides {
    margin-right: 200px;
    margin-left: 200px;
}

@media(max-width:1000px){

    .marginToSides {
        margin-right: 10px;
        margin-left: 10px;

        h1 {
            font-size: 1.8em;
        }

        a {
            word-break: break-all;
        }
    }
    
}