<div>
    <h1 id="contactMe" style="text-align: center; margin-top: 200px;">feel free to contact me!</h1>
    <p style="text-align: center; color: rgb(12, 216, 216); margin-block-start: 0em !important;">Nice to Meet You!
      Have a question or just want to get in touch? Let's chat.</p>

      <form action="http://f0145700@sean-gerigk.developerakademie.net/send_mail.php" method="post" style="margin-bottom: 140px;">      
        <input required name="name" type="text" class="feedback-input" placeholder="Name" />   
        <input required name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea required name="text" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit" value="SUBMIT"/>
      </form>
    
</div>
