.impressum {
    height: 75.7vh;
    margin-left: 168px;
//     overflow-y: auto;
}

@media(max-width:1000px) {
    .impressum {
        height: 75.7vh;
        margin-left: 18px;
    //     overflow-y: auto;
    }
}