<section>
    <div class="firstSectionForm">
        <div>
            <h1  class="c2">
                <span class="word">Hi.</span>
                <span class="word">I'm</span>
                <span class="word">Sean Gerigk</span>
                <span class="word">a front end developer</span>
            </h1>
            <!-- <button class="btn btn-2">more information below</button> -->
        </div>

        <div>
            <img src="assets/img/bMitKragenKomprimiert.jpg">
            
        </div>
    </div>
</section>


<app-my-skills></app-my-skills>
<app-my-projects></app-my-projects>

<app-about-me></app-about-me>

<app-contact-me></app-contact-me>