// .slideIn {
//     animation: slideIn 3005ms ease;
//     animation-fill-mode: forwards;

//     @keyframes slideIn {
//         from {
//             transform: scale(0.6);
//             // width: 0;
//         }
//         to {
//             transform: scale(1); // 1.9?
//             // width: 40ch;
//         }
//     }

// }

.firstSectionForm {
    display: flex;
    justify-content: space-evenly;

    h1 {
        // font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    span {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
    }

    .c2 {
        font-weight: 800;
        font-size: 3.2em;
        text-transform: uppercase;
        overflow: hidden;
      }
      
      .c2 .word {
        display: inline-block;
        line-height: 1em;
        height: 115px;
        // align-items: center !important;
        overflow-y: hidden;
      }

    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 100%;
        margin-top: 60px;
        margin-right: 170px;
        box-shadow: -15px 15px 50px 10px #47e6ff29;
    }
    
}

@media(max-width: 1000px) {
    .firstSectionForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        img {
            margin-top: 0;
            margin-right: 0;
            width: 250px;
            height: 250px;
            
        }
    }
}

