<section>
    <div class="firstSectionForm">
        <div class="slideIn">
            <h1>Hi.</h1>
            <h1>I'm </h1>
            <h1>Sean Gerigk</h1>
            <h1>a front end developer</h1>
            <!-- <button class="btn btn-2">more information below</button> -->
        </div>

        <div>
            <img src="assets/img/bMitKragen.jpg">
            
        </div>
    </div>
</section>


<app-my-skills></app-my-skills>
<app-my-projects></app-my-projects>

<app-about-me></app-about-me>

<app-contact-me></app-contact-me>