.slideIn {
    animation: slideIn 225ms ease;

    @keyframes slideIn {
        from {
            transform: scale(0.6);
        }
        to {
            transform: scale(1); // 1.9?
        }
    }

    h1 {
        font-size: 50px;
    }

//     .btn {
//         flex: 1 1 auto;
//         margin: 10px;
//         padding: 15px;
//         text-align: center;
//         text-transform: uppercase;
//         transition: 0.5s;
//         background-size: 200% auto;
//         color: white;
//         /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
//         box-shadow: 0 0 20px #eee;
//         border-radius: 10px;
//         cursor: pointer;
//         opacity: 0;
//         animation-name: showLater;
//         animation-duration: 0.3s;
//         //dauer der animation
//         animation-iteration-count: 15;
//         // wie oft wird die animation ausgeführt
//         animation-fill-mode: backwards;
//         //backwards ist from und forwards ist to
//         animation-delay: 4s;
//         // mit welcher verzögerung wird sie ausgeführt
//     }
//     @keyframes showLater {
//         from {
//             opacity: 0;
//         }
//         to {
//             opacity: 1;
//         }
//     }
//     /* Demo Stuff End -> */

//     /* <- Magic Stuff Start */

//     .btn:hover {
//         background-position: right center; /* change the direction of the change here */
//     }

//     .btn-2 {
//         background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
//     }
}

.firstSectionForm {
    display: flex;
    justify-content: space-evenly;

    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 100%;
        margin-top: 60px;
        margin-right: 170px;
    }
    
}

@media(max-width: 1000px) {
    .firstSectionForm {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            margin-top: 0;
            margin-right: 0;
            
        }
    }
}

