// html {
//     scroll-behavior: smooth;
// }

body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    // background-color: black;
    // background-image: linear-gradient(180deg, purple, blue, cyan, green, yellow, red, black);
    // background-image: linear-gradient(135deg, black, rgb(128, 0, 128),);
    // background-image: linear-gradient(135deg, black,  rgb(22, 22, 122), black, );
    background-image: linear-gradient(135deg, black, rgb(99, 15, 99),);
    color: white;
    
}
